{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'static/css/custom_form.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav_ul %}
  <li class="mx-3"><a href="#new-project">Novo Projeto</a></li>
  <li class="mx-3"><a href="#keep-up">Acompanhar Projeto</a></li>
{% endblock nav_ul %}


{% block main %}

<section id="new-project" >

    <div class="container mb-5 pb-5">

    <div class="d-flex justify-content-center mt-5 pt-5">
        <div id="title">
            <h1>Novo Projeto<span>.</span></h1>
            <h2>Descreva suas ideias e produtos que deseja para já iniciarmos</h2>
        </div>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
            <img src="{% static 'static/img/svg/city.svg' %}" class="img-fluid" alt="">
        </div>
    </div>

    <form id="form-new-project">

    <div class="row justify-content-between my-5">
        <div class="col-lg-4">

            <!-- CHECK BOXES -->

            <h3 class='font-josefin mb-4'>Quais produtos deseja ?</h3>

            <!-- Site Comercial -->
            <div class="form-check">
                <input class="d-none form-check-input bg-warning" type="checkbox"  id="checkbox-comercial" value="comercial">
                <label for="checkbox-comercial" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="checkbox-comercial">
                    Site Comercial
                </label>
            </div>

             <!-- Site Personalizado -->
             <div class="form-check">
                <input class="d-none form-check-input bg-warning" type="checkbox"  id="checkbox-personalizado" value="personalizado">
                <label for="checkbox-personalizado" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="checkbox-personalizado">
                    Site Personalizado
                </label>
            </div>

            <!-- Blog -->
            <div class="form-check">
                <input class="d-none form-check-input bg-warning" type="checkbox"  id="checkbox-blog" value="blog">
                <label for="checkbox-blog" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura " for="checkbox-blog">
                    Blog
                </label>
            </div>
        

            <!-- Web Charts -->
            <div class="form-check">
                <input class="d-none form-check-input bg-warning" type="checkbox"  id="checkbox-webcharts" value="webcharts">
                <label for="checkbox-webcharts" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="checkbox-webcharts">
                    Web Charts
                </label>
            </div>

            <!-- API -->
            <div class="form-check">
                <input class="d-none form-check-input bg-warning" type="checkbox"  id="checkbox-api" value="api">
                <label for="checkbox-api" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="checkbox-api">
                    API
                </label>
            </div>

            <!-- Outros -->
            <div class="form-check">
                <input class="d-none form-check-input bg-warning" type="checkbox"  id="checkbox-outros" value="api">
                <label for="checkbox-outros" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="checkbox-outros">
                    Outros
                </label>
            </div>
            
        </div>
        <div class="col-lg-8">
            <!-- Descrição -->

            <h3 class='font-josefin text-center mb-4'>Descreva as funcionalidades que deseja em seu produto</h3>
            <!-- Text Area -->
            <textarea name="" id="project-description" class="form-control mx-4" cols="30" rows="7"></textarea>
        </div>
    </div>



    <div class="row align-items-center justify-content-between my-5">

        <div class="col-lg-6">
            <!-- Nome -->

            <h3 class='font-josefin text-center mb-4'>Informações de contato</h3>

            <div class="d-flex aling-items-center justify-content-between my-2">
                <input id="contact-name" class="form-control mx-2 text-center" placeholder="Nome ou pseudônimo" type="text">
            </div>

            <div class="d-flex aling-items-center justify-content-between my-2">
                <input id="contact-email" class="form-control mx-2 text-center" placeholder="E-mail" type="text">
            </div>
            
        </div>

        <div id="captcha-div" class="col-lg-6 text-center">
            <h3 class='font-josefin text-center mb-4'>Confirmação das informações</h3>

                <div class="g-recaptcha font-jura" data-sitekey="6LerFfoUAAAAAH0OMWKI1mSZoRa3KyFhHNPAy5sI" style="width: auto;"></div>
        </div>

    </div>

    <button id="submit-new-project" class="w-100 mx-2 my-3 btn btn-lg btn-warning font-josefin">Submeter Proposta</button>

    </form>


    </div>
</div>

</section>


<section id="keep-up" style="background:#e1e1e130;">
    <div class="container mb-5">


    <h2 class="text-center font-jura mx-3 mb-3" style="text-decoration: underline #ffc451;">Já tem um projeto em desenvolvimento ?</h2>

    <p class="text-center font-josefin mb-5 pb-5">Acompanhe o projeto inserindo sua chave de acesso</p>

    <div class="row align-items-center justify-content-between my-5 rounded border">
        <div class="col-lg-8">
            <h3 class="text-center font-josefin mt-5 mb-4">Chave de acesso</h3>
            <div class="input-group mb-5 px-md-4 pb-5">
                <div class="input-group-prepend">
                    <button class="btn btn-warning" type="button">Acessar</button>
                </div>
                <input type="text" class="form-control text-center border-warning"  placeholder="chave de acesso" required>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'static/img/svg/program.svg' %}" class="d-none d-lg-block img-fluid my-5 px-lg-5" alt="">
        </div>
    </div>
    </div>
</section>

<!-- modal -->
{% include "index_includes/modal.html" %}


{% endblock main %}


{% block js %}
<script>
    const base_url = 'http://127.0.0.1:8080/api/v1';


    $("#form-new-project").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var data_form = $(this).serialize();
        var data_array = $(this).serializeArray();        
        console.log(data_array[0].value);
        
        if(data_array[0].value) {
            $.ajax({
                type: "POST",
                url: base_url.concat("/captcha/"),
                data: data_form, // serializes the form's elements.
                success: function(response){
                        if(response.message_status=='sent'){
                            $("#modal-img").attr('src', 'static/img/svg/letter.svg' );
                            $("#modal-text").html('Proposta enviada !');
                            $('#modal').modal('show');
                        }
                     }
                });
        } else { 
            $("#captcha-div").fadeOut(250).fadeIn(250).fadeOut(250).fadeIn(250);

        }


    });

</script>
{% endblock js %}
