{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'static/css/custom_form.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav_ul %}
  <li class="mx-3"><a href="#new-project">Novo Projeto</a></li>
  <li class="mx-3"><a href="#keep-up">Acompanhar Projeto</a></li>
{% endblock nav_ul %}


{% block main %}

<section id="new-project" >

    <div class="container mb-5 pb-5">

    <div class="d-flex justify-content-center mt-5 pt-5">
        <div id="title">
            <h1>Novo Projeto<span>.</span></h1>
            <h2>Descreva suas ideias e produtos que deseja para já iniciarmos</h2>
        </div>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
            <img src="{% static 'static/img/svg/city.svg' %}" class="img-fluid" alt="">
        </div>
    </div>

    <form id="form-new-project" name="new-project-form">

    <div class="row justify-content-between my-5">
        <div class="col-lg-4">

            
            <h3 class='font-josefin mb-4'>Quais produtos deseja ?</h3>

            <!-- CHECK BOXES -->



            <!-- Site Comercial -->
            <div class="form-check">
                <input class="form-check-input bg-warning opacity-0" type="radio" name="product" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="radio-comercial" value="comercial" checked required>
                <label for="radio-comercial" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="radio-comercial">
                    Site Comercial
                </label>
            </div>

             <!-- Site Personalizado -->
             <div class="form-check">
                <input class="form-check-input bg-warning opacity-0" type="radio" name="product" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="radio-personalizado" value="personalizado">
                <label for="radio-personalizado" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="radio-personalizado">
                    Site Personalizado
                </label>
            </div>

            <!-- Blog -->
            <div class="form-check">
                <input class="form-check-input bg-warning opacity-0" type="radio" name="product" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="radio-blog" value="blog">
                <label for="radio-blog" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura " for="radio-blog">
                    Blog
                </label>
            </div>
        

            <!-- Web Charts -->
            <div class="form-check">
                <input class="form-check-input bg-warning opacity-0" type="radio" name="product" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="radio-webcharts" value="webcharts">
                <label for="radio-webcharts" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="radio-webcharts">
                    Web Charts
                </label>
            </div>

            <!-- API -->
            <div class="form-check">
                <input class="form-check-input bg-warning opacity-0" type="radio" name="product" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="radio-api" value="api">
                <label for="radio-api" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="radio-api">
                    API
                </label>
            </div>

            <!-- Outros -->
            <div class="form-check">
                <input class="form-check-input bg-warning opacity-0" type="radio" name="product" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="radio-outros" value="api">
                <label for="radio-outros" class="label-box text-center rounded">
                    <i class='bx bx-check-double m-0 p-0'></i>
                </label>
                <label class="label-text text-center font-jura" for="radio-outros">
                    Outros
                </label>
            </div>

            
        </div>
        <div class="col-lg-8">
            <!-- Descrição -->

            <h3 class='font-josefin text-center mb-4'>Descreva as funcionalidades que deseja em seu produto</h3>
            <!-- Text Area -->
            <textarea name="description" id="project-description" class="form-control mx-4" cols="30" rows="7" oninvalid="this.setCustomValidity('Descreva o produto que deseja')" oninput="setCustomValidity('')" required></textarea>
        </div>
    </div>



    <div class="row align-items-center justify-content-between my-5">

        <div class="col-lg-6">
            <!-- Nome -->

            <h3 class='font-josefin text-center mb-4'>Informações de contato</h3>

            <div class="d-flex aling-items-center justify-content-between my-2">
                <input id="contact-name" name="name" class="form-control mx-2 text-center" placeholder="Nome ou Pseudônimo" oninvalid="this.setCustomValidity('Escreva um nome ou pseudônimo')" oninput="setCustomValidity('')" type="text" required>
            </div>

            <div class="d-flex aling-items-center justify-content-between my-2">
                <input id="contact-email" name="email" oninvalid="this.setCustomValidity('Escreva um E-mail válido')" oninput="setCustomValidity('')" class="form-control mx-2 text-center" placeholder="E-mail" type="email" required>
            </div>
            
        </div>

        <div id="captcha-div" class="col-lg-6 text-center">
            <h3 class='font-josefin text-center mb-4'>Confirmação das informações</h3>

                <div class="g-recaptcha font-jura" data-sitekey="6LerFfoUAAAAAH0OMWKI1mSZoRa3KyFhHNPAy5sI" style="width: auto;"></div>
        </div>

    </div>

    <button id="submit-new-project" class="w-100 mx-2 my-3 btn btn-lg btn-warning font-josefin">Submeter Proposta</button>

    <div id="error-alert"class="font-jura text-center alert alert-danger w-100 mx-2 p-3" style="display: none;" role="alert"> </div>

    </form>

    </div>
</div>

</section>


<section id="keep-up" style="background:#e1e1e130;">
    <div class="container mb-5">


    <h2 class="text-center font-jura mx-3 mb-3" style="text-decoration: underline #ffc451;">Já tem um projeto em desenvolvimento ?</h2>

    <p class="text-center font-josefin mb-5 pb-5">Acompanhe o projeto inserindo sua chave de acesso</p>

    <div class="row align-items-center justify-content-between my-5 rounded border">
        <div class="col-lg-8">
            <h3 class="text-center font-josefin mt-5 mb-4">Chave de acesso</h3>
            <form name="form-keep-up" id="form-keep-up">
                <div class="input-group mb-5 px-md-4 pb-5">
                    <div class="input-group-prepend">
                        <a class="btn btn-warning" href="/project.html">Acessar</a>
                    </div>
                    <input type="text" name="key" class="form-control text-center border-warning"  placeholder="chave de acesso" required>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'static/img/svg/program.svg' %}" class="d-none d-lg-block img-fluid my-5 px-lg-5" alt="">
        </div>
    </div>
    </div>
</section>

<!-- modal -->
{% include "index_includes/modal.html" %}


{% endblock main %}


{% block js %}
<script>
    const base_url = 'http://127.0.0.1:8080/api/v1';


    $("#form-new-project").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var data_form = $(this).serialize();
        var data_array = $(this).serializeArray();        
        
        if(data_array[4].value) {
            $.ajax({
                type: "POST",
                url: base_url.concat("/captcha/"),
                data: data_form, // serializes the form's elements.
                success: function(response){
                        if(response.mensagem=='enviada'){
                            $("#modal-img").attr('src', 'static/img/svg/letter.svg' );
                            $("#modal-text").html('Proposta enviada !');
                            $('#modal').modal('show');

                            // clear form
                            grecaptcha.reset();
                            $('#form-new-project')[0].reset();

                        } else {
                            grecaptcha.reset();

                            console.log('#ERROR');
                            console.log(response);

                            for(var key in response) {
                                $('#error-alert').html(`<b>${key}</b>: ${response[key]}`);
                            } 

                            $('#error-alert').fadeIn(500).delay(4000).fadeOut(500);
                        }
                     }
                });
        } else { 
            $("#captcha-div").fadeOut(250).fadeIn(250).fadeOut(250).fadeIn(250);
        }

    });


    $("#form-keep-up").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var data_form = $(this).serialize();
        var data_array = $(this).serializeArray();        

        if(data_array[1].value) {
            $.ajax({
                type: "POST",
                url: base_url.concat("/project/"),
                data: data_form, // serializes the form's elements.
                success: function(response){
                        if(response.mensagem=='enviada'){
                            $("#modal-img").attr('src', 'static/img/svg/letter.svg' );
                            $("#modal-text").html('Proposta enviada !');
                            $('#modal').modal('show');

                            // clear form
                            grecaptcha.reset();
                            $('#form-new-project')[0].reset();

                        } else {
                            grecaptcha.reset();

                            console.log('#ERROR');
                            console.log(response);

                            for(var key in response) {
                                $('#error-alert').html(`<b>${key}</b>: ${response[key]}`);
                            } 

                            $('#error-alert').fadeIn(500).delay(4000).fadeOut(500);
                        }
                    }
                });
        } else { 
            $("#captcha-div").fadeOut(250).fadeIn(250).fadeOut(250).fadeIn(250);
        }

});

</script>
{% endblock js %}
