{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'static/css/custom_form.css' %}" rel="stylesheet">
<link href="{% static 'static/css/project.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed:wght@300&family=Baskervville&family=Beth+Ellen&family=Bungee+Inline&family=Cinzel&family=Cormorant+Infant&family=Dancing+Script&family=Fredericka+the+Great&family=IM+Fell+English+SC&family=Jua&family=Julius+Sans+One&family=Jura:wght@300&family=Kelly+Slab&family=Lekton&family=Londrina+Shadow&family=Monoton&family=Nixie+One&family=Pacifico&family=Poiret+One&family=Press+Start+2P&family=Quantico&family=Rajdhani:wght@300&family=Raleway:wght@300&family=Rubik+Mono+One&family=Rye&family=Sacramento&family=Sarpanch&family=Wire+One&display=swap" rel="stylesheet">
{% endblock css %}

{% block nav_ul %}

  <!-- <li class="mx-3"><a href="#new-project">Novo Projeto</a></li> -->

{% endblock nav_ul %}


{% block main %}
<section id="keep-up-title" class="mt-5">
    <div class="d-flex justify-content-center my-5 py-5">
        <div id="title">
            <h1>Projeto<span>.</span></h1>
            <h2>decida o design e os requisitos</h2>
        </div>
    </div>
</section>

<section id="palette">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12 mb-4">
        <h3 class="text-left yellow-underline font-josefin my-3">Paleta de Cores</h3>
      </div>

      <div class="col-lg-4">
        <h5 class="font-josefin text-secondary w-100 text-center mb-0" id="color-palette-name">freedom colors</h5>
        <div class="d-flex rounded my-3">
          <div id="color-1" class="palette-color rounded-left" ></div>
          <div id="color-2" class="palette-color" ></div>
          <div id="color-3" class="palette-color" ></div>
          <div id="color-4" class="palette-color rounded-right" ></div>
        </div>
      </div>

      <div class="col-lg-1 h-100">
        <hr style="width:1px; height: 22em;" class="border-left">
      </div>

      <div class="col-lg-7">
        <div class="d-flex justify-content-between">
          <h5 class="font-josefin">Paletas pré-definidas:</h5> 
          <span class="font-jura text-secondary mx-4"><small>clique nas paletas abaixo para escolher as cores</small></span>
        </div>
        <div id="color-palettes" class="d-flex flex-wrap p-3"></div>
        <div class="d-flex justify-content-center align-items-center mt-4 mb-3">
          <hr class="w-100 border-top"> 
        </div>

        <div class="d-flex align-items-center">
          <h5 class="font-josefin mb-0">Customizar paleta:</h5>

            <!-- color #1 -->
            <input class="input-color" type="color" id="custom-color-1" name="color-1">
            <label for="custom-color-1"></label>

            <!-- color #2 -->
            <input class="input-color" type="color" id="custom-color-2" name="color-2">
            <label for="custom-color-2"></label>

            <!-- color #3 -->
            <input class="input-color" type="color" id="custom-color-3" name="color-3">
            <label for="custom-color-3"></label>

            <!-- color #4 -->
            <input class="input-color" type="color" id="custom-color-4" name="color-4">
            <label for="custom-color-4"></label>

            <!-- sugestoes -->

          <div class="ml-5" style="line-height: 1;">
            <span class="font-jura text-secondary mb-0"> <small> Clique nos quadrados para alterar a cor </small> </span> <br>
            <span class="font-jura text-secondary mb-0"> <small> Acesse <a target="_blank" rel="noopener noreferrer" href="https://colorhunt.co/">Color Hunt</a> para se inspirar</small> </span>
          </div>

        </div>
      </div>
    </div>
    </div>
</section>

<section id="colors-use">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 mb-4">
        <h3 class="text-left yellow-underline font-josefin my-3">Uso das Cores</h3>
      </div>

      <div class="col-lg-6" id="screen-svg-div"> </div>

      <div class="col-lg-4">
        <!-- tema claro -->
        <div class="form-check">
          <input class="dark-or-light form-check-input bg-warning opacity-0" type="radio" name="dark-or-light" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="light-theme" value="light" checked>
          <label for="light-theme" class="label-box text-center rounded">
              <i class='bx bx-check-double m-0 p-0'></i>
          </label>
          <label class="label-text text-center font-jura" for="light-theme">
              <b>Tema claro</b>: favorecer cores claras
          </label>
        </div>

        <!-- tema escuro  -->
        <div class="form-check">
          <input class="dark-or-light form-check-input bg-warning opacity-0" type="radio" name="dark-or-light" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="dark-theme" value="light" required>
          <label for="dark-theme" class="label-box text-center rounded">
              <i class='bx bx-check-double m-0 p-0'></i>
          </label>
          <label class="label-text text-center font-jura" for="dark-theme">
              <b>Tema escuro</b>: favorecer cores escuras
          </label>
        </div>

        <hr class="w-100 border-top">

        <!-- branco  -->
        <div class="form-check">
          <input class="dark-or-light form-check-input bg-warning opacity-0" type="checkbox" name="whited" oninvalid="this.setCustomValidity('Selecione uma opção')" oninput="setCustomValidity('')"  id="whited" value="whited" checked>
          <label for="whited" class="label-box text-center rounded">
              <i class='bx bx-check-double m-0 p-0'></i>
          </label>
          <label class="label-text text-center font-jura" for="whited">
            <b>Manter cor branca</b> : cor auxiliar neutra
          </label>
        </div>

      </div>

    </div>
  </div>
</section>

<section id="templates">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 mb-4">
        <h3 class="text-left yellow-underline font-josefin my-3">Templates</h3>
      </div>

      <!-- PORTOFOLIO TEMPLATES  -->
      <div class="d-flex w-100 align-items-center">
        <span class="font-josefin text-nowrap mx-3 mb-0">PORTFOLIO & SITES PESSOAIS</span>
        <hr class="w-25 border-top border-warning m-0">
      </div>

      <div id="portfolio-templates" class="row justify-content-center my-4"> </div>

      <!-- BLOG TEMPLATES  -->

      <div class="d-flex w-100 align-items-center">
        <span class="font-josefin text-nowrap mx-3 mb-0">BLOG & DIGITAL INFLUENCE</span>
        <hr class="w-25 border-top border-warning m-0">
      </div>

      <div id="blog-templates" class="row justify-content-center my-4"> </div>

      <!-- COMERCIAL WEBSITEs TEMPLATES  -->

      <div class="d-flex w-100 align-items-center">
        <span class="font-josefin text-nowrap mx-3 mb-0">SITES COMERCIAIS</span>
        <hr class="w-25 border-top border-warning m-0">
      </div>

      <div id="comercial-sites-templates" class="row justify-content-center my-4"> </div>

    </div>
  </div>
</section>

<section id="text-fonts">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 mb-4">
        <h3 class="text-left yellow-underline font-josefin my-3">Fontes de texto</h3>
      </div>

      <div class="d-flex w-100 align-items-center">
        <span class="font-josefin text-nowrap mx-3 mb-0">ESCOLHA DE DUAS A CINCO FAMÍLIAS DE FONTES</span>
        <hr class="w-25 border-top border-warning m-0">
      </div>

      <div id="font-family-div" class="d-flex flex-wrap my-5"> </div>

      <div class="d-flex justify-content-end w-100 align-items-center">
        <hr class="w-25 border-top border-warning m-0">
        <span class="font-josefin text-secondary text-nowrap mx-3">QUER MAIS FONTES ? PROCURE EM <a target="_blank" rel="noopener noreferrer" href="https://fonts.google.com/">GOOGLE FONTS</a></span>
      </div>

    </div>
  </div>
</section>


  <!-- Price  div  -->
  <div class="total-cost bg-warning rounded shadow-sm p-2">
    <h4 class="font-courier text-center m-0">Total</h4>
    <div class="d-flex align-items-center">
      <hr class="w-100 my-1">
      <small class="mx-1">•</small>
      <hr class="w-100 my-1">
    </div>
    <p class="font-josefin text-center m-0"> R$ 100</p>
  </div>

  
{% endblock main %}


{% block js %}
<script src="{% static 'static/js/color_palettes.js' %}"></script>
<script>

  //inital color setup
  var init_colors = ['#151515', '#343a40', '#ffc451', '#ffffff'];
  setColors(init_colors);

  // Create color palettes for options
  color_palette.forEach(function(element,index){
   
    $("#color-palettes").append(`<div class="m-2 d-flex flex-column-reverse" id="color-palette-${index}"></div>`);
    $(`#color-palette-${index}`).append(`<div id="color-palette-${index}-flex" class="d-flex rounded shadow palette-option" name="${element.name}"></div>`);
    $(`#color-palette-${index}`).append(`<span class="font-jura palette-title"><small>${element.name}</small></span>`);

    element.colors.forEach(function(color, color_index){
      $(`#color-palette-${index}-flex`).append(`<div class="p-3" style="background-color:${color}"></div>`);
    });
    
  });

  $(".palette-option").click(function(){
    var palette = [];
    var color_palette_name = $(this).attr('name')
    $("#color-palette-name").html(color_palette_name);

    var palette_json = color_palette.filter(function(x){
      return x.name==color_palette_name
    })[0];
    var palette = palette_json.colors;

    setColors(palette);
  });



  // Customise squares
  $('.input-color').change(function(){
      $(`#${$(this).attr('name')}`).css('background-color',$(this).val());
      $(`#${$(this).attr('id') } + label`).css("background-color",$(this).val());      
      $(this).attr("value", $(this).val()); 
      $("#color-palette-name").html('palete customizado');

      updateColorUse();
  });

  // Change theme to dark or light
  $('.dark-or-light').change(function(){
    updateColorUse();
  });

  // White background on theme

  $('#whited').change(function(){
    updateColorUse();
  });


  // Font family collection

  font_family_collection.forEach(function(font, index){

    // font name input and label-div
    var font_div= `<div id="font-div-${index}"></div>`;
    $("#font-family-div").append(font_div);

    var font_input = `<input class="form-check-input bg-warning opacity-0" type="checkbox" name="font-family" id="font-family-${index}" value="${font.name}">`;
    
    var font_label = `<label for="font-family-${index}" class="font-family font-div rounded px-3 m-2" id="font-family-label-${index}"></label>`;

    $(`#font-div-${index}`).append(font_input);
    $(`#font-div-${index}`).append(font_label);

    // font name and text
    var font_name = `<span class="font-jura text-secondary"><small>${font.name}</small></span>`;
    var font_text = `<p style="${font.css}">LucLog - codificando suas ideias</p>`;

    $(`#font-family-label-${index}`).append(font_name);
    $(`#font-family-label-${index}`).append(font_text);
  });


  // SITE TEMPLATES

  // comercial websites
  loadSiteTemplates(comercial_site_templates, 'comercial-sites-templates');

  // portfolios
  loadSiteTemplates(portfolio_templates, 'portfolio-templates');

  // blogs
  loadSiteTemplates(blog_templates, 'blog-templates');



  // change shadow of template div to yellow
  $('.template-input').change(function(){

    // clear style for all divs
    $('.template-div').each(function(){
      $(this).css('border', '1px solid white');
      $(this).css('box-shadow', 'none');
    });

    $('.template-hr').each(function(){
      $(this).css('border-top', '1px solid #dee2e6');
    });

    // give a yellow highlight to the selected
    if($(this).is(':checked')){      
      $(this).parents('.template-div').find('.template-hr').css('border-top', '1px solid #ffc451');
      $(this).parents('.template-div').css('border', '1px solid #ffc451');
      $(this).parents('.template-div').css('box-shadow', '0em .25rem 0.25rem rgba(0,0,0,.3)');
    };
  })


</script>
{% endblock js %}
